<html>
<head>
    <title>CIEL云计算实验室</title>
    <script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>
    <script src="{{ static_url('inventory.js') }}"
            type="application/javascript"></script>
</head>

<body>
<div>
    <h1>CIEL云计算实验室</h1>
    <hr/>
    <h2>lora devices</h2>
    <p>
</div>

<!--        <img src="{{ static_url('1.jpg') }}" alt="The Definitive Guide to the Internet" />-->

<hr/>
<!--        <form method="post" action="/mqtt">-->
<!--              {% module xsrf_form_html() %}-->
<!--            <p>发送文本(后台自动转码)：<br><input type="text" name="send_data"></p>-->
<!--            <p><input type="submit" value="下发lora设备"  /></p>-->
<!--        </form>-->

<div id="add-to-cart">
    <p>
        <!--            <form>-->
        发送文本(后台自动转码)：<input type="text" id="send_data">
        <!--        </form>-->
    </p>
    <p><input type="submit" value="下发lora2e设备" id="add-button"/></p>
</div>
<ol>
    {% for device in devices %}
       <li> 设备名：{{ device.device_name }}数据:{{ device.data }},时间:{{ device.date }}</li>
    {% end %}
</ol>

</body>
</html>